body{
    margin: 0px;
    background-color: #add8e6 ;
    font-family: 'Nerko One', cursive;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #bae0f9, #3c45e7); 
    color: #fff; 
 
   
}

h1{
  color: rgb(179, 71, 71);  
  font-size: 100px;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{

    margin: 5px;
    border: 1px solid;
    color: #c1c2ca;
    padding: 16px;
    border-radius: 20px;
    display: grid;
    width: 200px;
    height: 10px;
    font-size: 15px;
}
.orange{
    display: flex;
}
.card-image-top{
    width: 150px;
    
}




/*inicio logo*/
 
.inicio{

    border: rgb(23, 23, 240) solid 2px;
    padding: 10px ;
    width: auto;
    height: auto;
    display: block;
    margin: 100px;

}

.card {
    border: rgb(36, 69, 235) solid 2px;
    padding: 50px ;
    width: auto;
    height: 10px;
    display: block;
    margin: 90px;
}

.local {
    border: rgb(23, 171, 240) solid 2px;
    padding: 10px ;
    width: auto;
    height: auto;
    display: block;
    margin: 100px;
    background-color: aquamarine;
}
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: block;
   
  
  
  }
